{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        },
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}